.width-100 {
    width: 100% !important;
}
.sign-up-form-field {
    margin-top: 10px;
}
.sign-up-form-info {
    color: red;
    font-size: 9px;
}
.modalBox{
    text-align: center;
}
.modalBox:focus{
    outline: none !important;
}
.ReactModal__Overlay, .ReactModal__Overlay--after-open {
    z-index: 1000000;
    background: white !important;
}
